/blockchain_parser/output.txt
/blocks
/bitcoin_block_files
/blockchain_parser/_build
parser

/doc/
/_build
/lib/*/ebin/
/lib/*/_build/
/lib/*/tmp/
/lib/elixir/src/*_parser.erl
/lib/elixir/test/ebin/
/man/elixir.1
/man/iex.1
/Docs-v*.zip
/Precompiled-v*.zip
/.eunit
.elixir.plt
erl_crash.dump